@{
    ViewData["Title"] = "Role";
}
@Model 
<div>
    <div>
        @User.Identity.AuthenticationType
        @* @Model.Name; *@
        @Model.UserName
    </div>
    <div>

    </div>
    <div>

    </div>

</div>