@{
    ViewData["Title"] = "Role";

}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@using AD.BLL.ModelsDTO;
@using Microsoft.AspNetCore.Identity
@model List<UserViewModel>

<form method="post" asp-controller="Home" enctype="multipart/form-data">


    <div class="grid-are ">
        <div class="colum">
            <p>Пользователь</p>
        </div>

        <div class="colum">
            <p>Дать права</p>
        </div>
        <div class="colum">
            <p>Забрать права</p>
        </div>




        @foreach (var user in Model)
        {
            <div class="colum">
                <p>@user.UserName</p>
            </div>
            if (!user.IsAdmin)
            {
                <div class="colum">
                    <button class="btn  btn-dark" asp-action="Creation" asp-route-email="@user.Email"> Дать права</button>
                </div>
                <div class="colum">
                    <button disabled class=" btn btn-primary" id="@user.Id" name="removePer"> Забрать права</button>
                </div>
            }
            else
            {
                <div class="colum">
                    <button disabled class="btn  btn-dark"  type="submit"> Дать права</button>
                </div>
                <div class="colum">
                    <button class="btn btn-primary" type="submit" asp-action="Remove" asp-route-email="@user.Email"> Забрать права</button>
                </div>
            }
        }

    </div>

    <button type="submit" id="onBit">test</button>
</form>






<script type="text/javascript" language="javascript">

  
    

</script>

 @*С помощью .ready мы вызываем функцию до закрузки компонента
 .click по клику аргумент который раписывается в скобках, используется для ID кнопки*@ 