.panel{
    display:grid;
    grid-template-columns:20% 60% 20%;
    overflow-x:hidden;
}

.panel-item {
    margin: 0.5em;    
}
.panel-center {
    text-align:center;
    align-items: center;
    justify-content: center
}
.p-item{
    margin:0;
}
.p-margin{
    margin-left:1vw;
}
.gridRow{
    display:grid;
    grid-template-rows:auto auto;
}
.border-red {
    border: ridge 0.3vw red;
}
.border-blue {
    border: ridge 0.3vw #29b1cc;
}